{% extends 'base.html' %}

{% block title %}
    Создание задачи
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h2>Создание задачи</h2>
            <form id="task-add-form" class="border-box" action="{% url 'problems_add' %}" method="post" role="form">
                <a href="{% url 'problems' %}">Назад к списку</a>
                {% csrf_token %}
                <div class="form-group">
                    <label for="task-title">Название задачи</label>
                    <input type="text" class="form-control" id="task-title" name="title" placeholder="Введите название задачи">
                </div>
                <div class="form-group">
                    <label for="task-description">Описание задачи</label>
                    <textarea class="form-control vresize" rows="8" id="task-description" name="description" placeholder="Введите описание задачи"></textarea>
                </div>
                <div class="form-group">
                    <label for="task-checker">Тип сравнения ответов</label>
                    <select class="form-control" id="task-checker" name="task_checker">
                        {% for checker in checkers %}
                        <option value="{{ checker.value }}">{{ checker.description }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="task-eps">Точность сравнения (только для вещ. чисел)</label>
                    <input type="text" class="form-control" id="task-eps" name="eps">
                </div>
                <table class="table table-bordered">
                    <thead>
                        <th class="text-center">Ограничение по памяти (Мбайт)</th>
                        <th class="text-center">Ограничение по времени (сек)</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control" id="task-max-vm" name="max_vm" placeholder="Ограничение по памяти (Мбайт)">
                            </td>
                            <td>
                                <input type="text" class="form-control" id="task-max-time" name="max_time" placeholder="Ограничение по времени (сек)">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="2"><a href="#" id="task-add-input-output-col">Добавить строку</a></td>
                        </tr>
                        <tr>
                            <th class="text-center">Входные данные</th>
                            <th class="text-center">Выходные данные</th>
                        </tr>
                        <tr class="input-output-block">
                            <td>
                                <textarea class="form-control vresize task-input" rows="2" name="task_input[]"></textarea>
                            </td>
                            <td>
                                <textarea class="form-control vresize task-output" rows="2" name="task_output[]"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" id="task-add-btn" class="btn btn-primary">Добавить</button>
            </form>
        </div>
    </div>
{% endblock %}