{% extends 'blog/base.html' %}

{% block title %}
    Управление системой Ejudge
{% endblock %}

{% block content %}
<div class="row">
    <div class="ejudge_wrapper">
        {% if user_data != '' %}
        <h1>Здравствуйте {{user_data.login}}</h1>
        </br>
        {% endif %}
        {% if role != 'admin' or user_data != ''%}
        <div class="col-md-4 list-group">
            <a class="list-group-item ejudge_link" href="/cgi-bin/new-register?locale_id=1">Перейти к списку контестов</a>
            <a class="list-group-item ejudge_link" href="{% url 'ejudgelogout' %}">Выйти из системы</a>
        </div>
        <div class="col-md-4 list-group"></div>
        {% endif %}
        {% if role == 'admin' %}
        <div class="col-md-4 list-group">
        	<h2>Панель администратора</h2>
            <a class="list-group-item ejudge_link" href="{% url 'ejudgestart' %}">Запустить / Перезагрузить систему Ejudge</a>
            <a class="list-group-item ejudge_link" href="/cgi-bin/serve-control" target="blank">Управление системой Ejudge</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
