{% extends 'blog/base.html' %}

{% block title %}
    Мой профиль
{% endblock %}

{% block content %}
<div class="row">
    <div class="ejudge_wrapper">
        {% csrf_token %}
        {% if user_data != '' %}
        <h1>Здравствуйте {{user_data.login}}</h1>
        </br>
        {% endif %}
        {% if not user.is_authenticated or user_data != ''%}
        <div class="col-md-4 list-group">
            <a class="list-group-item ejudge_link" href="{% url 'contests' %}">Перейти к списку контестов</a>
            <a class="list-group-item ejudge_link" href="{% url 'logout' %}">Выйти из системы</a>
        </div>
        <div class="clearfix"></div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="col-md-4 list-group">
        	<h2>Панель администратора</h2>
            <p class="bg-info" id="ejudge_control_info"></p>
            <label>Управление системой</label>
            <a class="list-group-item ejudge_link ejudge_control_btn" data-id="start" href="#">Запустить систему Ejudge</a>
            <a class="list-group-item ejudge_link ejudge_control_btn" data-id="restart" href="#">Перезапустить систему Ejudge</a>
            <a class="list-group-item ejudge_link ejudge_control_btn" data-id="stop" href="#">Остановить систему Ejudge</a>
            </br>
            <a class="list-group-item ejudge_link" href="{% url 'ejudgeusers' %}">Управление пользователями</a>
            <a class="list-group-item ejudge_link" href="/cgi-bin/serve-control" target="_blank">Панель администратора Ejudge</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
