body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.news-post{
  padding: 5px;
  margin-top: 20px;
}

.news-meta{
  margin-bottom: 20px;
  color: #999;
}

.news-text{
  font-size: 16px;
  font-family: Calibri, sans-serif;
}

.profile_wrapper{
  margin-top: 1em;
}

.noresize {
  resize: none;
}

.vresize {
  resize: vertical;
}

.hresize {
  resize: horizontal;
}

.task-header{
  background-color: #dddfff;
}

#task-add-form .table th, #task-edit-form .table th {
  background-color: #dddfff;
}

.problem-desc, #task-add-form, #task-edit-form {
  margin-top: 3em;
  margin-bottom: 3em;
}

.border-box{
  position: relative;
  padding: 15px 15px 15px;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}

.profile_link{
  text-color:#7f7fff;
  cursor: pointer;
}

#ejudge_control_info{
  padding: 5px;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  border-radius: 2px;
  font-weight: 600;
  display: none;
  text-align: center;
}

.contest-table td, .contest-table th{
  text-align: center;
}

.courses-list{
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.index-languages-logo{
  width: 200px;
  height: 200px;
}

.container-img-index{
  margin-top: 20px;
  text-align: center;
}

.container-img-index .img-responsive {
    margin: 0 auto;
}

.container-index-content{
  margin-top: 10px;
}

.container-index-header{
  text-align: center; 
}

.container-index-text{
  margin-top: 20px;
  text-align: center;  
}

.index-main-text{
  margin-top: 20px;
  font-size: 18px;
}

.content-text-block{
  border-width: 3px;
  text-align: center;
}

.main-footer{
  background-color: #222;
  min-height: 40px;
  color: #FFFFFF;
}

.copyright{
  line-height: 40px;
}