body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.news-post{
  padding: 5px;
  margin-top: 20px;
}

.news-meta{
  margin-bottom: 20px;
  color: #999;
}

.news-text{
  font-size: 16px;
  font-family: Calibri, sans-serif;
}

.profile_wrapper{
  margin-top:1em;
}

.profile_link{
  text-color:#7f7fff;
}

#ejudge_control_info{
  padding: 5px;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  border-radius: 2px;
  font-weight: 600;
  display: none;
  text-align: center;
}

.contest-table td, .contest-table th{
  text-align: center;
}

.courses-list{
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.index-languages-logo{
  width: 200px;
  height: 200px;
}

.container-img-index{
  margin-top: 20px;
  text-align: center;
}

.container-img-index .img-responsive {
    margin: 0 auto;
}

.container-index-content{
  margin-top: 10px;
}

.container-index-header{
  text-align: center; 
}

.container-index-text{
  margin-top: 20px;
  text-align: center;  
}

.index-main-text{
  margin-top: 20px;
  font-size: 18px;
}

.content-text-block{
  border-width: 3px;
  text-align: center;
}

.main-footer{
  background-color: #222;
  min-height: 40px;
  color: #FFFFFF;
}

.copyright{
  line-height: 40px;
}