body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.news-post{
  padding: 5px;
  margin-top: 20px;
}

.news-meta{
  margin-bottom: 20px;
  color: #999;
}

.news-text{
  font-size: 16px;
  font-family: Calibri, sans-serif;
}

.ejudge_wrapper{
  margin-top:1em;
}

.ejudge_link{
  text-color:#7f7fff;
}

#ejudge_control_info{
  padding: 5px;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  border-radius: 2px;
  font-weight: 600;
  display: none;
  text-align: center;
}

.contest-table td, .contest-table th{
  text-align: center;
}