{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
	<div class="container-fluid main-index-container">
		<div class="row">
		    <div class="col-md-4 container-img-index">
		    	<img class="index-languages-logo img-circle" src="/media/uploads/c_plus_plus.png">
		    </div>
		    <div class="col-md-4 container-img-index">
		    	<img class="index-languages-logo img-circle" src="/media/uploads/python.png">
		    </div>
		    <div class="col-md-4 container-img-index">
		    	<img class="index-languages-logo img-circle" src="/media/uploads/php.png">
		    </div>
		    <div class="col-md-12 container-index-content">
		    	<div class="container-index-header">
		    		<h1>Добро пожаловать на CSU Contester!</h1>
		    	</div>
		    	<div class="container-index-text">
		    		<div class="col-md-6 col-md-offset-3 panel panel-default content-text-block">
						<h3>Хочешь научиться программировать?</h3>
						<p class="index-main-text">
							Твоему вниманию предлагаются курсы по таким языкам как <strong>C++</strong>, <strong>Python</strong>, <strong>PHP</strong>
							</br>
							Список со временем пополняется, так что следи за <a href="{% url 'news' %}">новостями</a> нашего портала! ;)
						</p>
					</div>
					<div class="col-md-6 col-md-offset-3 panel panel-default content-text-block">
						<h3>Просмотрел курс по <code>%language_name%</code>, но не знаешь что написать?</h3>
						<p class="index-main-text">
							Наш портал рад предложить тебе список практических задач, на которых ты сможешь потренироваться и набить руку. 
							</br>
							Мы принимаем задания написанные на: <strong>Pascal, C, C++, C#, PHP, Prolog, Java, Ruby, Python 2.7, Python 3</strong>.
						</p>
					</div>
					<div class="col-md-6 col-md-offset-3 content-text-block">
						<a href="{% url 'login' %}" class="btn btn-primary btn-lg" role="button">Вперёд к знаниям!</a>
					</div>
		    	</div>

		    </div>
	    </div>
    </div>
{% endblock %}
