{% extends 'base.html' %}

{% block title %}
    Мой профиль
{% endblock %}

{% block content %}
<div class="row">
    <div class="profile_wrapper">
        {% csrf_token %}
        {% if userinfo %}
            <div class="col-md-4 list-group">
                <h2>Здравствуйте {{userinfo.login}}</h2>
                <a class="list-group-item profile_link" href=" {% url 'contests' %}">Список контестов</a>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="col-md-4 list-group {% if userinfo %} col-md-offset-4 {% endif %}">
        	<h2>Панель администратора</h2>
            <p class="bg-info" id="ejudge_control_info"></p>
            <label>Управление системой</label>
            <a class="list-group-item ejudge_link ejudge_control_btn" data-id="start" href="#">Запустить систему Ejudge</a>
            <a class="list-group-item ejudge_link ejudge_control_btn" data-id="restart" href="#">Перезапустить систему Ejudge</a>
            <a class="list-group-item ejudge_link ejudge_control_btn" data-id="stop" href="#">Остановить систему Ejudge</a>
            </br>
            <a class="list-group-item ejudge_link" href="/cgi-bin/serve-control" target="_blank">Панель администратора Ejudge</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}